In [1]:
import pandas as pd
from datetime import datetime, date
try_data = pd.read_csv('try.csv')

In [2]:
try_data

            Date    Open    High     Low   Close Change %     Volume
0  Feb. 08, 2023  415.05  416.46  411.88  412.57   -1.09%  2,872,002
1  Feb. 07, 2023  410.77  418.43  409.53  417.12    1.29%  5,584,762
2  Feb. 06, 2023  411.74  413.24  410.03  411.80   -0.62%  2,578,974
3  Feb. 03, 2023  413.52  418.95  413.04  414.35   -1.03%  4,385,968
4  Feb. 02, 2023  416.80  420.25  414.80  418.66    1.45%  4,883,296
5  Feb. 01, 2023  407.10  415.59  404.22  412.67    1.07%  5,194,565
6  Jan. 31, 2023  403.00  408.40  402.67  408.31    1.45%  6,121,226
7  Jan. 30, 2023  404.66  407.02  402.20  402.47   -1.27%  3,457,432

In [11]:
""" print(type(try_data['Date']))
pd.to_datetime(try_data['Date']) """

<class 'pandas.core.series.Series'>

0   2023-02-08
1   2023-02-07
2   2023-02-06
3   2023-02-03
4   2023-02-02
5   2023-02-01
6   2023-01-31
7   2023-01-30
Name: Date, dtype: datetime64[ns]

In [3]:
column_names = ['Trade ID', 'Date', 'Asset', 'Trip', 'Action', 'Type', 'Price', 'Status']
row_number = try_data.shape[0] - 1

reversed_data = try_data.iloc[::-1]
reversed_df = pd.DataFrame(reversed_data.values, index=try_data.index, columns=try_data.columns)
print(reversed_df)

            Date    Open    High     Low   Close Change %     Volume
0  Jan. 30, 2023  404.66  407.02   402.2  402.47   -1.27%  3,457,432
1  Jan. 31, 2023   403.0   408.4  402.67  408.31    1.45%  6,121,226
2  Feb. 01, 2023   407.1  415.59  404.22  412.67    1.07%  5,194,565
3  Feb. 02, 2023   416.8  420.25   414.8  418.66    1.45%  4,883,296
4  Feb. 03, 2023  413.52  418.95  413.04  414.35   -1.03%  4,385,968
5  Feb. 06, 2023  411.74  413.24  410.03   411.8   -0.62%  2,578,974
6  Feb. 07, 2023  410.77  418.43  409.53  417.12    1.29%  5,584,762
7  Feb. 08, 2023  415.05  416.46  411.88  412.57   -1.09%  2,872,002

In [4]:
blotter = pd.DataFrame(index=range(row_number), columns=column_names)
blotter['Trade ID'] = blotter.index
blotter['Date'] = reversed_df['Date'].iloc[1:].reset_index(drop=True)
blotter['Price'] = reversed_df['Close'].iloc[:-1].reset_index(drop=True) * 0.99
blotter

   Trade ID           Date Asset Trip Action Type     Price Status
0         0  Jan. 31, 2023   NaN  NaN    NaN  NaN  398.4453    NaN
1         1  Feb. 01, 2023   NaN  NaN    NaN  NaN  404.2269    NaN
2         2  Feb. 02, 2023   NaN  NaN    NaN  NaN  408.5433    NaN
3         3  Feb. 03, 2023   NaN  NaN    NaN  NaN  414.4734    NaN
4         4  Feb. 06, 2023   NaN  NaN    NaN  NaN  410.2065    NaN
5         5  Feb. 07, 2023   NaN  NaN    NaN  NaN   407.682    NaN
6         6  Feb. 08, 2023   NaN  NaN    NaN  NaN  412.9488    NaN

In [28]:
#step2:Identify which order were cancelled
low = reversed_df['Low']
price = blotter['Price']

indices = []
for i, element in enumerate(price):
    if i + 3 >= len(low):
        break
    if element < low[i + 1] and element < low[i + 2] and element < low[i + 3]:
        indices.append(i)

cancelled = blotter.loc[indices]
print(cancelled)

   Trade ID           Date Asset Trip Action Type     Price Status
0         0  Jan. 31, 2023   NaN  NaN    NaN  NaN  398.4453    NaN
2         2  Feb. 02, 2023   NaN  NaN    NaN  NaN  408.5433    NaN